.navigationBar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.navMenuItem{
    margin: 1rem;
    cursor: pointer;
}

.navMenuItem:hover{
    color: gold;
    padding-bottom: .5rem;
    border-bottom: 3px solid gold;
}

.navContactBtn{
    background: white;
    color: rgb(30, 30, 30);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.navContactBtn:hover{
    background: rgb(40, 40, 40);
    color: gold;
}

.navContactBtnImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active{
    color:gold;
    padding-bottom: .5rem;
    border-bottom: 3px solid gold;
}

.navigationMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.menuItem{
    margin: 1rem;
    cursor: pointer;
    padding: .5rem 3rem;
    margin: .25rem;
    background: rgb(30, 30, 30);
}

.mobileMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

@media screen and (max-width:720px){
    .mobileMenu{
        display: flex;
    }
    .navMenu{
        display: none;
    }
    .navContactBtn{
        display: none;
    }
}

